@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ultra&display=swap");
@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");

$fontForTable: "Fredoka One", cursive;
$secondFontHeading: "Spartan";
$fontForHeadings: "Pacifico", serif;
$fontColorForHeadings: blue;
$fontColorForTable: #142850;

#contents {
  h1 {
    font-family: $secondFontHeading;
    color: $fontColorForHeadings;
    letter-spacing: 2px;
  }
  h3 {
    font-family: $secondFontHeading;
    color: $fontColorForHeadings;
  }
  table {
    border-collapse: collapse;

    border-radius: 10px;
    text-align: center;
  }
  td,
  th {
    font-family: $fontForTable;
    color: $fontColorForTable;
    padding: 10px;
    border: 1px solid #333333;
  }
  hr {
    border-radius: 10px;
    border-top-width: 0;
    border-bottom-color: #c02739;
  }
  pre {
    font-family: $fontForTable;
  }
  .selection {
    font-family: $secondFontHeading;
  }
  .navbar {
    font-family: $fontForTable;
  }
}
