@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ultra&display=swap");
@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");

$fontForTable: "Fredoka One", cursive;
$secondFontHeading: "Spartan";
$fontForHeadings: "Pacifico", serif;
$fontColorForHeadings: blue;
$fontColorForTable: #142850;
